# Web Scraping & Google Trends
beautifulsoup4==4.12.2
lxml
requests==2.31.0
pytrends==4.9.2

# Apache Airflow Core
apache-airflow==2.9.0

# Airflow Providers (optional, jika digunakan dalam DAG)
apache-airflow-providers-http
apache-airflow-providers-google

# Data manipulation & date handling (opsional tapi disarankan)
pandas==2.1.1
python-dateutil==2.8.2

plotly
pandas
kaleido
wordcloud 
matplotlib==3.8.0 
seaborn==0.13.0
nltk==3.8.1
